{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "allowImportExportEverywhere": false
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "plugin:react/recommended",
    "plugin:import/react"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "import",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "extensions": [".js", ".jsx", '.json', '.ts', '.tsx']
      }
    },
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "no-undef": "off",
    "prettier/prettier": "error",
    "no-plusplus": "off",
    "arrow-parens": ["error", "as-needed"],
    "complexity": ["error", 10],
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 0,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "newline-after-var": ["error", "always"],
    "no-console": [
      "warn",
      {
        allow: ["info", "warn", "error"]
      }
    ],
    "padding-line-between-statements": [
      "error",
      { blankLine: "always", prev: "export", next: "*" },
      { blankLine: "any", prev: "export", next: "export" }
    ],
    "semi": [ "error", "never" ],
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
