.disabled-link___3FTaZEnJ {
  pointer-events: none;
}

.icon-shift___3IpWDfIy {
  position: relative;
}

.icon-shift___3IpWDfIy.left___3PS4XFFm {
    left: -7px;
  }

.icon-shift___3IpWDfIy.right___2Qxz3YR4 {
    right: -7px;
  }

.text-column___24wS5Tbg {
  white-space: pre;
}

.editable-text___1t7vcBsy {
  white-space: pre;
}

.application___BSMjomII {
  /* margin: 30px;
  padding: 30px;
  background-color: gray;
  flex: 1; */
}

